{{ form_errors(form) }}
{{ form_row(form.street) }}
<div class="two fields">
    {{ form_row(form.postcode) }}
    {{ form_row(form.city) }}
</div>
{{ form_row(form.birthday) }}
{{ form_row(form.date) }}
{{ form_row(form.dateTime) }}
