{% set controller = 'app' %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}AppName{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app', null, 'frontend') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app', null, 'frontend') }}
        {{ sonata_block_render_event('sylius.shop.layout.javascripts') }}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body class="pushable">
<div class="pusher">
    {% block top %}
        <div id="menu" class="ui large sticky inverted stackable menu">
            {% include 'frontend/_menu.html.twig' %}
        </div>
    {% endblock %}

    <div id="ui container" data-controller="{{ controller }}">
        {% block header %}
            <header>
                {% include 'frontend/_header.html.twig' %}
            </header>
        {% endblock %}

        {% include 'frontend/_flashes.html.twig' %}

        {% block content %}
        {% endblock %}
    </div>

    {% block footer %}
        {% include 'frontend/_footer.html.twig' %}
    {% endblock %}
</div>
{% include '@SyliusUi/Modal/_confirmation.html.twig' %}
</body>
</html>
