{% set active = active|default('dashboard') %}
<div class="sidebar">
    <!-- Sidebar Menu -->
    <ul class="vertical menu">
        <li{% if active == 'dashboard' %} class="active"{% endif %}>
            <a href="{{ path('sylius_frontend_account_dashboard') }}">{{ 'sylius.ui.dashboard'|trans }}</a>
        </li>
        <li{% if active == 'profile' %} class="active"{% endif %}>
            <a href="{{ path('sylius_frontend_account_profile_update') }}">{{ 'sylius.ui.personal_information'|trans }}</a>
        </li>
        <li{% if active == 'change-password' %} class="active"{% endif %}>
            <a href="{{ path('sylius_frontend_account_change_password') }}">{{ 'sylius.ui.change_password'|trans }}</a>
        </li>
    </ul>
</div>