{% extends 'frontend/layout.html.twig' %}

{% block bodyClass %}security resetting{% endblock %}

{% set pageTitle =  'sylius.ui.reset_password'|trans %}

{% block content %}
    <h1>{{ pageTitle }}</h1>
    <h2>{{ 'sylius.ui.set_a_new_password_for_your_account'|trans }}</h2>

    <form class="form-signin" action="{{ path('sylius_user_request_password_reset_token') }}" method="POST">

        <div class="form-field">
            {{ form_widget(form.email, {attr: {'placeholder': 'sylius.ui.email'|trans}}) }}
        </div>

        {{ form_rest(form) }}

        <div class="action-buttons">
            <button class="button" type="submit" id="_submit"
                    name="_submit">{{ 'app.ui.validate'|trans }}</button>
        </div>
    </form>
{% endblock %}
