<div id="{{ id }}" class="reveal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <div class="content-wrapper">
        <div class="modal-header">
            <h4 class="modal-title">{{ title }}</h4>
        </div>

        <div class="modal-body">
            {{ text }}
        </div>

        <a href="#" class="alert button confirmation-modal-confirm">
            <i class="fa fa-trash"></i><span>{{ message is defined ? message : 'label.delete'|trans }}</span>
        </a>
        <button type="button" class="button success "  data-close aria-label="Close">
            <i class="fa fa-remove"></i>
            {{ 'label.cancel'|trans }}
        </button>
    </div>
</div>