{% extends 'frontend/layout.html.twig' %}

{% block bodyClass %}security login{% endblock %}

{% set pageTitle =  'title.not_connected'|trans %}

{% block content %}

    <div class="row align-center">
        <div class="small-12 medium-6 column">
            {{ form_errors(form) }}
            <form action="{{ path("app_frontend_login_check") }}"
                  novalidate
                  class="form-signin"
                  method="post">

                <div class="row">
                    <div class="small-12 columns">
                        <div class="row input-group-row">
                            <label>
                                <div class="input-group">
                                    <span class="input-group-label"><span class="fa fa-user"></span></span>
                                    <input name="_username" class="input-group-field" type="text"
                                           placeholder="{{ 'sylius.ui.email'|trans }}">
                                </div>
                            </label>
                        </div>
                        <div class="row input-group-row">
                            <label>
                                <div class="input-group">
                                    <span class="input-group-label"><span class="fa fa-lock"></span></span>
                                    <input name="_password" class="input-group-field" type="password"
                                           placeholder="{{ 'sylius.ui.password'|trans }}">
                                </div>
                            </label>
                            <a href="{{ path('sylius_user_request_password_reset_token') }}"
                               class="forgotpsw">{{ 'app.ui.forgotten_password'|trans }}</a>
                        </div>
                    </div>
                </div>
                <div class="row align-center text-center">
                    <button type="submit" class="button connexion-button">Connexion</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}