{% block subject %}
    {% autoescape false %}
    {{ 'emails.user_password_reset.subject'|trans }}
    {% endautoescape %}
{% endblock %}
{% block body %}
    <h3>{{ 'label.hello'|trans }} {{ user.customer.fullName }},</h3>
    <p>{{ 'emails.user_password_reset.content'|trans({'%LINK%': url('app_frontend_password_reset', { 'token' : user.passwordResetToken})})|raw  }}</p>
    <p>{{ 'emails.ending'|trans }}</p>
    <p>{{ 'emails.signature'|trans }}</p>
{% endblock %}
