{% extends 'frontend/layout.html.twig' %}

{% block bodyClass %}security login{% endblock %}

{% set pageTitle =  'title.not_connected'|trans %}

{% block content %}

    <div class="row align-center">
        <div class="small-12 medium-6 column">
            {{ form_errors(form) }}
            <form action="{{ path("app_user_request_password") }}"
                  novalidate
                  class="form-signin"
                  method="post">

                <div class="row loginModal">
                    <div class="medium-8 small-12 columns">
                        <div class="row input-group-row">
                            <label>
                                {{ 'app.ui.contract_number'|trans }}
                                <div class="input-group">
                                    <span class="input-group-label"><span class="mbz-profile"></span></span>
                                    <input name="app_password_request[code]" class="input-group-field" type="text"
                                           placeholder="{{ 'app.ui.contract_number'|trans }}">
                                </div>
                                <span data-tooltip aria-haspopup="true" class="has-tip top" data-disable-hover="false"
                                      tabindex="1" title="Numéro de contrat commencant par
    la lettre L, présent en haut de votre quittance.">?</span>
                            </label>
                        </div>
                    </div>
                    <div class="medium-4 small-12 columns">
                        <img src="{{ asset('assets/frontend/img/template/quittance-loyer-v2.png') }}">
                    </div>
                </div>
                <div class="row align-center text-center">
                    <button type="submit" class="button connexion-button">{{ 'app.ui.send' | trans() }}</button>
                </div>
                {{ form(form._token) }}
            </form>
        </div>
    </div>

{% endblock %}