{% extends 'frontend/layout.html.twig' %}

{% block bodyClass %}security resetting{% endblock %}

{% set pageTitle =  'sylius.ui.reset_password'|trans %}

{% block content %}
    <h2>{{ pageTitle }}</h2>

    <div class="small-12 column user-form">
        <form class="form-signin" action="{{ path('app_frontend_password_reset', { 'token' : user.passwordResetToken}) }}" {{ form_enctype(form) }} method="POST">

            <div class="form-field">
                {{ form_widget(form.password.first, {attr: {'placeholder': 'sylius.form.user_reset_password.new'|trans}}) }}
            </div>
            <div class="form-field">
                {{ form_widget(form.password.second, {attr: {'placeholder': 'sylius.form.user_reset_password.confirmation'|trans}}) }}
            </div>
            {{ form_rest(form) }}
            <div class="action-buttons">
                <button class="button" type="submit" id="_submit" name="_submit">{{ 'app.ui.validate'|trans }}</button>
            </div>
        </form>
    </div>
{% endblock %}
