<div class="ui right stackable inverted menu">
    {% if is_granted('ROLE_USER') %}
        <div class="item">{{ 'sylius.ui.hello'|trans }} {{ app.user.customer.fullName }}!</div>
        <a href="{{ path('sylius_frontend_account_dashboard') }}" class="item">{{ 'sylius.ui.my_account'|trans }}</a>
        <a href="{{ path('app_frontend_logout') }}" class="item app-logout-button">{{ 'sylius.ui.logout'|trans }}</a>
    {% else %}
        <a href="{{ path('app_frontend_login') }}" class="item">{{ 'sylius.ui.login'|trans }}</a>
        <a href="{{ path('app_frontend_register') }}" class="item">{{ 'sylius.ui.register'|trans }}</a>
    {% endif %}
</div>
