{{ form_start(form) }}
{{ form_errors(form) }}
<input type="hidden" name="_method" value="PUT"/>
{{ form_row(form.currentPassword) }}
{{ form_row(form.newPassword.first) }}
{{ form_row(form.newPassword.second) }}
<div class="pull-right">
    <button class="button">{{ 'sylius.ui.save_changes'|trans }}</button>
</div>
{{ form_row(form._token) }}
{{ form_end(form, {'render_rest': false}) }}
