{% extends 'frontend/layout.html.twig' %}

{% form_theme form 'frontend/form/theme.html.twig' %}

{% block content %}
    {% include 'frontend/register/_header.html.twig' %}

    {{ sonata_block_render_event('sylius.shop.register.after_content_header') }}

    <div class="ui padded segment">
        {{ sonata_block_render_event('sylius.shop.register.before_form') }}

        {{ form_start(form, {'action': path('app_frontend_register'), 'attr': {'class': 'ui loadable form', 'novalidate': 'novalidate'}}) }}
        {% include 'frontend/register/_form.html.twig' %}

        {{ sonata_block_render_event('sylius.shop.register.form', {'form': form}) }}

        <button type="submit" class="ui large primary button">
            {{ 'sylius.ui.create_an_account'|trans }}
        </button>
        {{ form_row(form._token) }}
        {{ form_end(form, {'render_rest': false}) }}
    </div>
{% endblock %}
